@import url("chrome://global/skin/in-content/common-shared.css");

body {
    padding: 10px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea {
    resize: vertical;
    height: 150px;
    margin-left: 0;
    margin-right: 0;
}
