* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #151515;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    color: #e8e8e8;
    font-size: 18px;
    font-family: monospace;
    border: 2px solid #e8e8e8;
    line-height: 24px;
    padding: 2px 6px;
    border-radius: 4px;
    word-break: break-word;
}

img {
    width: 100%;
    max-width: 347px;
}